* {
    font-family: 'Arial';
}

h1 {
    color: black;
    margin: 0px;
    padding: 10px;
}

header {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 1000px;
}

body {
    text-align: center;
    background-color: #77dd77;
}

.panel {
    background-color: white;
    border: 2px solid black;
}
