.greenBox {
  background-color: #b3ffb9;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 1%;
}

.darkGreenBox {
  background-color: #59a75f;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 1%;
}

.yellowBox {
  background-color: #fff8a7;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid gray;
  margin: 1%;
}

.messageInputTextBox {
  resize: none;
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.sendMessageBtn {
  float: right;
  background-color: transparent;
  border: none;
}

.sendMessageBtnImage {
  height: 60px;
}

#Header {
  margin: 0px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

#UserInfo {
  width: 99%;
  margin-top: 0%;
}

.LogIn {
  margin: auto;
  margin-bottom: 10%;
  padding: 1%;
  padding-bottom: 6%;
  text-align: center;
}

.LogInElement  {
  width: 80%;
  padding: 2%;
  border-radius: 6px;
  font-size: 100%;
  color: black;
  border: 2px solid gray;
}

#loginContainer {
  margin: auto;
  text-align: center;
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}

#channelColumn {
  float: left;
  text-align: left;
  margin: 1%;
  width: 27%;
}

#messageColumn {
  float: right;
  text-align: left;
  margin: 1%;
  margin-left: 0%;
  width: 70%;
  max-height: 75vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.channelInfo {
  text-align: left;
  font-size: medium;
  width: 100%;
  padding: 3%;
}

.message {
  text-align: left;
  
  margin: 1%;
  margin-top: 0%;

  padding: 0%;
  border-radius: 10px;

  font-size: 90%;
}

.messageTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  /*HITBOX DEBUG*/
  /*border: 1px solid black;*/
}

.voteCell {
  width: 3%;
  text-align: center;
}

.infoCell {
  padding-left: 1%;
  width: 90%;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #dedede;
}
