.greenBox {
  background-color: #b3ffb9;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid green;
  margin: 4px;
}

.yellowBox {
  background-color: #e6d302;
  text-align: center;
  padding: 0px;
  border-radius: 10px;
  border: 2px solid yellow;
  margin: 4px;
}

#Header {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}

#UserInfo {
  width: 98%;
  margin-bottom: 30px;
}

#channelColumn {
  float: left;
  text-align: left;
  padding: 2%;
  padding-left: 8%;
  width: 40%;
  background-color: blue;
}

#messageColumn {
  float: right;
  text-align: left;
  padding: 2%;
  padding-left: 8%;
  width: 40%;
  height: 500px;
  background-color: red;
}

.channelInfo {
  text-align: left;
  font-size: medium;
  width: 100%;
  padding: 3%;
}

.message {
  background-color: #77dd77;
  border-style: double;
  border-width: 3px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: #dedede;
}

